.image-card {
  width: 80%;
  height: auto;
  border-radius: 5px;
}

.circle-overlay {
  width: 35px;
  height: 35px;
  font-weight: bold;
  background-color: #ffc200;
  color: #ffffff;
  bottom: -7px;
  right: 25px;
}

@media only screen and (max-width: 600px) {
  .circle-overlay {
    right: 30px;
  }
}
